<footer>
    <small class="contact">Діліться своїми "Їбаний git!" моментами зі мною!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>