<footer>
    <small class="contact">아으 Git! 이라고 외쳤던 다른 경험이 있나요? 저에게 알려주세요!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>