<footer class="spaced centered">
    <p class="top-lined bottom-lined">
        *Disclaimer: This site is not intended to be an exhaustive reference. And yes, there are other ways to do these same things with more theoretical purity or whatever, but I've come to these steps through trial and error and lots of swearing and table flipping, and I had this crazy idea to share them with a healthy dose of levity and profanity. Take it or leave it as you will!
    </p>
    <small>
        <p>What's your Dangit, git moment? Share them with me! {{site.twitter_ksylor | safe}}</p>
        <p>{{site.copyright | safe}}</p>
    </small>
</footer>