<p>Git is hard: messing up is easy, and figuring out how to fix your mistakes is impossible. Git documentation has this chicken and egg problem where you can't search for how to get yourself out of a mess, <em>unless you already know the name of the thing you need to know about</em> in order to fix your problem.</p>

<p>So here are some bad situations I've gotten myself into, and how I eventually got myself out of them <em>in plain english</em>.</p>
