<p class="rtl">گیت سخته: امکان اشتباه زیاده، و فهمیدن اینکه چطوری میشه درستش کرد غیرممکنه. راهنمای گیت مشکل معروف مرغ و تخم مرغ رو داره وقتی که نمیدونی چی جستجو کنی که خودتو از منجلاب نجات بدی،<em> مگه این که اسم اون چیزی که دنبالش هستی رو بدونی.</em> </p>

<p class="rtl"> بنابراین من اینجا چند مورد از موقعیت های بدی که دچارش شده بودم رو براتون گذاشتم، و روش اینکه چطوری در نهایت از پس اونا بر اومدم <em> به زبان فارسی ساده</em>.</p>
