<footer>
    <small class="contact">Vilket är ditt Shit pommes frites, git moment? Dela det med mig!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>