<p>Git är svårt: Det är lätt att röra till det, och att ta reda på hur du fixar dina misstag är helt jävla omöjligt. Git-dokumentationen har ett problem likt det med hönan och ägget, du kan inte söka efter hur du kommer ur en knipa <em>om du inte redan vet namnet på det du behöver lära dig mer om</em> för att kunna fixa ditt problem.</p>

<p>Så här är några knipor som jag har hamnat i, och hur jag tids nog tog mig ur dem <em>på ren svenska</em>.</p>
