<p>Tack så mycket till alla som har bidragit med att översätta sajten till nya språk, ni rockar!
{% include "partials/collaborator-list.njk" %}. Med ytterligare hjälp från {% include "partials/otherhelper-list.njk" %}</p>

<p>Om du vill hjälpa till och översätta till ditt språk, lägg in en PR på {% github_link %}</p>