<footer>
    <small class="contact rtl">מה הוא רגע ה"אוי לעזאזל, גיט" שלך? שתף אותי!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>