<p class="he">תודה רבה לכל מי שעזר לתרגם את האתר הזה לשפות השונות, אתם אלופים!
{% include "partials/collaborator-list.njk" %}. בעזרת עזרה נוספת מ {% include "partials/otherhelper-list.njk" %}</p>

<p class="he">אם ברצונך לעזור ולתרגם את זה לשפה נוספת, שלח PR ל {% github_link %}</p>