<footer class="spaced centered">
    <p class="top-lined bottom-lined">
        *Disclaimer: Lo scopo di questo sito non è essere una fonte esauriente. E certamente, ci sono altri modi per fare le stesse cose con una maggiore purezza dal punto di vista teorico, ma sono arrivata a queste soluzioni sperimentando e imprecando e rovesciando tavoli, e ho avuto quest'idea di condividerle con una sana dose di leggerezza e volgarità. Prendere o lasciare!
    </p>
    <p class="bottom-lined">Tante grazie a tutti coloro che hanno tradotto il sito in altre lingue: <a href="https://github.com/pReya">Moritz Stückler</a> - <a href="/de">Tedesco</a>, sei grande!</p>
    <small>
        <p>Hai avuto un momento Dangit, git? Condividilo con me! {{site.twitter_ksylor | safe}}</p>
        <p>{{site.copyright | safe}}</p>
    </small>
</footer>