<footer>
    <small class="contact">Hai avuto dei momenti Dangit, git? Condividili con me!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>