<section class="intro">
    {# {%include "partials/carbonads.njk"%} #}

    <p>Git è difficile: fare danni è facile, e riuscire a trovare il modo per risolvere i propri errori è impossibile. La documentazione su Git ha il difetto dell'uovo e della gallina, dove è impossibile trovare il modo di uscire da un pasticcio, <em>a meno che tu non sappia già il nome della cosa che ti serve sapere</em> per riuscire a risolvere il problema.</p>

    <p>Qui troverete alcune brutte situazioni in cui mi sono ritrovata, e come alla fine sono riuscita a uscirne, <em>in parole povere</em>.</p>
</section>
