<p>*Disclaimer: Lo scopo di questo sito non è essere una fonte esauriente. E certamente, ci sono altri modi per fare le stesse cose con una maggiore purezza dal punto di vista teorico, ma sono arrivata a queste soluzioni sperimentando, imprecando e rovesciando tavoli, e ho avuto quest'idea di condividerle con una sana dose di leggerezza e volgarità. Prendere o lasciare!</p>