<p>Tante grazie a tutti coloro che hanno tradotto il sito in altre lingue, siete dei grandi!
{% include "partials/collaborator-list.njk" %}. Con l'aiuto aggiuntivo di {% include "partials/otherhelper-list.njk" %}</p>

<p>Se desideri aiutare aggiungendo una traduzione nella tua lingua, invia una PR su {% github_link %}</p>