<footer>
    <small class="contact">Apa momen Tai, git lo? Kasih tau gue!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>