<p>Git susah: ngaconya gampang, nyari solusinya ampun-ampunan. Dokumentasi Git yang amburadul malah nambah ruwet, <em>kecuali kalau lo udah bener-bener tau nama buat masalah lo itu apa</em></p>

<p>Disini gue bakal berbagi masalah yang pernah gue hadapin, dan cara gue ngebenerinnya <em>dengan bahasa yang simpel</em>.</p>
 