<p>Git susah: bikin ngaco di situ gampang, dan susah bener cari tau cara benerin kesalahan lo. Pokoknya lo gak bisa keluar dari masalah lo kalau <em>lo gak tau masalah lo</em> untuk benerin masalah lo itu</p>

<p>Jadi ini beberapa masalah yang pernah gue hadapin, dan cara gue keluar dari masalah-masalah itu <em>dengan bahasa yang simpel</em>.</p>
