<p>*Sangkalan: Situs ini bukan buat referensi komplit. Dan iye, ada cara lain yang lebih bener atau terserah deh, tapi gue nemuin cara ini dengan penuh keringet dan air mata dan makian, jadi gue punya ide gila ini untuk ngasih tau lo pada. Ikutin atau kagak, bukan urusan gue!</p>