<p>*Sangkalan: Situs ini bukan buat referensi komplit. Dan iye, ada cara dan teori lain yang lebih bener, tapi gue nemuin cara ini melalui bejibun coba-coba yang penuh keringat, air mata dan makian, hingga akhirnya gue kipikiran berbagi ide gila gue dalam bentuk makian dan umpatan. Ikutin atau enggak, bukan urusan gue!</p>