<p>Makasih banyak untuk semua yang udah mau bantuin terjemahin situs ini ke bahasa lain, kece deh lo pade!

{% include "partials/collaborator-list.njk" %}. Dengan bantuan tambahan dari {% include "partials/otherhelper-list.njk" %}</p>

<p>Kalo lo pengen bantuin nambahin terjemahan ke bahasa lo, submit PR lo di {% github_link %}</p>