<footer>
    <small class="contact">Mikä on sun 'Hyvänen aika git?' kokemus? Jaa se!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>