<p>*Huomio: Tämän sivuston ei ole tarkoitus olla tyhjentävä dokumentaatio. Ja kyllä, on olemassa tapoja tehdä nämä samat asiat teoreettisesti puhtaammin tai jollain muulla tavalla, mutta monen yrityksen ja erehdyksen jälkeen, kiroillen ja heittäen pöytiä, olen todennut näiden ohjeiden toimivan. Sain hullun päähänpiston jakaa ne maailmalle sopivan kevytmielisesti. Ota tai jätä!</p>