<footer>
    <small class="contact">Hva er ditt Søren tute, git-øyeblikk? Del det med meg!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>