<p>Tusen takk til alle som har bidratt til å oversette siden til nye språk, dere er nydelige!
{% include "partials/collaborator-list.njk" %}. Med ytterligere helpt fra {% include "partials/otherhelper-list.njk" %}</p>

<p>Om du ønsker å bidra en oversettelse til ditt språk, send inn en PR på {% github_link %}</p>
