<footer class="spaced centered">
    <p class="top-lined bottom-lined">
        *Avertissement&nbsp;: Ce site n'a pas pour objectif d'être une référence exhaustive. Et bien sûr, il existe d'autres façons de faire la même chose avec plus d'élégance sémantique (tic tic), mais j'en suis arrivé à ce résultat à force de tâtonnements, d'erreurs, d'un tas de jurons et de tables renversées. Puis j'ai eu l'idée loufoque de partager mes trouvailles, assaisonnées d'une bonne dose de frivolité et d'imprécations. A prendre ou à laisser...
    </p>
    <p>Un grand merci à tous ceux qui ont traduit le site dans d'autres langues&nbsp;: <a href="https://github.com/pReya">Moritz Stückler</a> (<a href="/de">German</a>), <a href="https://github.com/michelc">Michel</a> (<a href="/fr">Français</a>), vous déchirez&nbsp;!</p>
    <small>
        <p>Et vous, c'est quoi votre moment "Oh merde&nbsp;! git"&nbsp;?  Partagez-les avec moi&nbsp;! <a href="https://twitter.com/ohshitgit">@ohshitgit</a> && <a href="https://twitter.com/ksylor">@ksylor</a> (si vous êtes aussi intéressé par le développement frontend et les blagues sur mes enfants)</p>
        <p>{{site.copyright | safe}}</p>
    </small>
</footer>
