<p>Git est compliqué : c'est facile de tout foirer et foutrement impossible de réparer ses erreurs. La documentation de Git tient du problème de l'œuf  et de la poule : pour y chercher comment vous sortir du bordel il faut <em>déjà connaître le truc qu'il faut savoir</em> pour résoudre votre problème.

<p>Voici donc quelques exemples de mauvais pas où je me suis fourré, et comment j'ai réussi à m'en tirer, tout ça <em>en français dans le texte</em>*.</p>
