<p>Git қиын: жобаны бір пәсте жоғалтып алу оңай, және оны қалай қайтаруға болатыны түсініксіз. Git документациясы - қақпан: дұрыс шешімді табу үшін бәрін бастапқы қалпына әкелетін <em>фичаның атын алдын ала білу керек</em>.</p>

<p>Осы сайтта пиздец жағдайдан шығудың жолдарын <em>көпшілікке</em> жазып берейін.</p>
