<p>Осы сайтты басқа тілдерге аударған адамдарға көп рахмет:
{% include "partials/collaborator-list.njk" %}. Қосымша жәрдем бергендер: {% include "partials/otherhelper-list.njk" %}</p>

<p>Өз тілінде аударымды қосу үшін {% github_link %} репозоторийға PR жіберіңіз</p>
