<footer>
    <small class="contact">分享下你嘅「git 氣呀」嗰刻吖！</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
