<footer>
    <small class="contact">Mi a te "Teringettét, git" pillanatod? Oszd meg velem!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>