<p>A Git nehéz: elrontani könnyű, kitalálni pedig, hogy hogyan oldd meg a problémáidat, lehetetlen. A Git dokumentáció megértését a 'tyúk és a tojás' problémája nehezíti, ahol is nem tudsz rákeresni arra, hogyan mássz ki egy csávából, <em>hacsak nem már tudod annak a dolognak a nevét, amiről többet akarsz megtudni</em>, hogy meg tudd oldani a problémád.</p>

<p>Ezért, íme néhány kellemetlen szituáció, amikbe sikerült belekeverednem, és hogy idővel hogyan másztam ki belőlük, <em>egyszerű magyarsággal</em>.</p>
