<p>*Megjegyzés: Az oldalnak nem célja, hogy mindenre kiterjedő referenciaként szolgáljon. És igen, vannak más, elméleti szempontból tisztább, vagy milyen, módszerek ezen problémák megoldására, de rengeteg próba, elbukás, káromkodás és asztalborogatás után jutottam el idáig, és volt ez az őrült ötletem, hogy egy egészséges adag komolytalansággal fűszerezve megosztom őket. A te döntésed mit kezdesz vele!</p>
