<p>*Avertissement&nbsp;: Ce site n'a pas pour objectif d'être une référence exhaustive. Et bien sûr, il existe d'autres façons de faire la même chose avec plus d'élégance sémantique (tic tic), mais j'en suis arrivé à ce résultat à force de tâtonnements, d'erreurs, d'un tas de jurons et de tables renversées. Puis j'ai eu l'idée loufoque de partager mes trouvailles, assaisonnées d'une bonne dose de frivolité et d'imprécations. À prendre ou à laisser...</p>