<footer>
    <small class="contact">তোমার ওহ ধুর গিট মোমেন্ট, আমার সাথে শেয়ার কর!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>