<p>Git কিছুটা হলেও কঠিন: ঝামেলা পাকানো সহজ, এবং কিভাবে সেই ঝামেলাগুলো ফিক্স করা যাবে সেটা বের করা অনেক সময় কঠিন. গিট ডকুমেন্টেশনে মুরগি আগে না ডিম এই সমস্যা আছে, যেখানে কিভাবে তোমার ঝামেলা ঠিক করবে খুঁজে পাবে না, <em> যদি না তুমি আলরেডি যেনেই থাক কিভাবে ফিক্স করতে হবে</em> সেই প্রবলেম, যেটা তুমি ফিক্স করতে চাও।</p>

<p>কিছু খারাপ পরিস্থিতিতে আমি পরেছিলাম যা থেকে আমি নিজেকে সরিয়ে নিয়েছি, এবং কীভাবে আমি শেষ পর্যন্ত এগুলি থেকে নিজে মুক্তি পেয়েছি সেগুলোই দেয়া হল <em> শুদ্ধ বাংলায়</em>।</p>
