<footer>
    <small class="contact">Поделитесь со мной своими моментами, когда хотелось крикнуть "Чертов Git!"</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>