<p>Git сложен: легко все испортить, и невозможно понять, как все исправить. Документация Git это такая вещь, в которой сложно найти, как все исправить, <em>пока ты точно не знаешь название фишки</em>, которая вернет все на место.</p>

<p>Так, здесь собраны несколько ситуаций, из которых я в конце концов выбрался <em>на понятном русском</em>.</p>
