<p>
    *Предупреждение: Этот сайт не является исчерпывающим руководством. И да, есть другие способы сделать то же самое, но я пришел к этому методом проб и ошибок, и теперь делюсь этим с большой дозой легкомыслия и ругани. Примите это или уйдите!
</p>