<p>Большое спасибо этим людям, который перевели этот сайт на другие языки, ты крут!
{% include "partials/collaborator-list.njk" %}</p>

<p>Если вы хотите помочь добавить перевод на свой язык, отправьте PR на {% github_link %}</p>