<footer class="spaced centered">
    <p class="top-lined bottom-lined">
        *Disclaimer: Niniejsza strona nie ma na celu bycia wyczerpującym poradnikiem. Owszem, da się zrobić te same rzeczy z większą dozą teoretycznej czystości czy czegoś tam, ale wypracowałam te kroki metodą prób i błędów, licznych przekleństw i przewracania stolików. A potem wpadłam na szalony pomysł, żeby udostępnić je światu opakowane w zdrową dozę beztroski. Bierzesz albo nie, Twój wybór!
    </p>
    <p>Wielkie dzięki dla wszystkich, którzy przetłumaczyli tę stronę na inne języki: <a href="https://github.com/pReya">Moritz Stückler</a> - <a href="/de">wersja niemiecka</a>, <a href="https://github.com/lwojcik">Łukasz Wójcik</a> - <a href="/pl">wersja polska</a>, jesteście super!</p>
    <small>
        <p>Zdarzają Ci się momenty, kiedy wykrzykujesz "O kurczę, git"? Podziel się nimi ze mną! <a href="https://twitter.com/ohshitgit">@ohshitgit</a> && <a href="https://twitter.com/ksylor">@ksylor</a> (jeżeli interesuje Cię frontend development i żarty o moich dzieciach)</p>
        <p>{{site.copyright | safe}}</p>
    </small>
</footer>
