<section class="intro">
    {# {%include "partials/carbonads.njk"%} #}

    <p>Git jest trudny: łatwo coś popsuć, a rozgryzienie tego, jak naprawić błędy jest niemożliwe. Dokumentacja Gita to taki paradoks kury i jajka: nie jesteś w stanie znaleźć instrukcji, jak wygrzebać się z bałaganu, <em>jeżeli nie wiesz, jak nazywa się to coś, o czym powinieneś wiedzieć</em>, żeby rozwiązać Twój problem.</p>

    <p>Oto niektóre złe sytuacje, w które zdarzyło mi się wpakować oraz instrukcje jak z nich wyjść, wyłożone <i>prostym językiem</i>.</p>
</section>
