<p>Wielkie dzięki dla wszystkich, którzy przetłumaczyli tę stronę na inne języki, jesteście super!
{% include "partials/collaborator-list.njk" %}. Z dodatkową pomocą {% include "partials/otherhelper-list.njk" %}</p>

<p>Jeśli chcesz pomóc w dodaniu tłumaczenia na swój język, prześlij PR na {% github_link %}</p>