<footer>
    <small class="contact">Khoảng khắc chết tiệt của bạn với git là gì? Hãy chia sẻ nó với tôi!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
