<p><strong>*Tuyên bố miễn trách nhiệm:</strong> Website này không phải là một bản tham khảo mang tính thấu đáo. Và đương nhiên tôi biết có những phương pháp khác nữa đạt được hiệu quả tương tự mà về lý thuyết là xịn hơn và này nọ hơn, nhưng đây là thành quả của tôi sau hàng quá trình thử sai không ngừng, chửi rủa không ngơi và lật bàn không dứt, rồi tôi nảy ra ý tưởng điên rồ đó là chia sẻ kinh nghiệm này của tôi theo kiểu lông bông với thô tục chút đỉnh thôi. Tiếp nhận hoặc lờ đi là tùy ý bạn!</p>