<p>Cảm ơn tất cả những người đã tình nguyện dịch trang này sang các ngôn ngữ khác. Các bạn thật tuyệt!
{% include "partials/collaborator-list.njk" %}. Cộng thêm sự trợ giúp từ {% include "partials/otherhelper-list.njk" %}</p>

<p>Nếu bạn muốn thêm một bản dịch cho ngôn ngữ của mình, hãy gửi một PR ở {% github_link %}</p>
