<footer>
    <small class="contact">Qual é o seu momento "Que saco, git"? Compartilhe comigo!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>