<p>Git é difícil: é muito fácil cometer um erro e é impossível descobrir como arrumá-lo. A documentação do Git é como o problema do ovo e da galinha, onde você não consegue pesquisar como resolver o seu problema <em>a não ser que você já saiba o nome do que você precisa </em> para resolve-lo.</p>

<p>Então aqui estão algumas situações complicadas em que me meti e como me safei delas, <em>em português claro</em>.</p>