<footer>
    <small class="contact">"Git қотақбас" деп айқалағыңыз келген кездермен менімен бөлісіңіз</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>