<footer>
    <small class="contact">"Қарғыс атқыр Git" деп айқайлағыңыз келген кездерде маған жазыңыз</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>