<p>Большое спасибо этим людям, которые перевели этот сайт на другие языки, вы крутые!
{% include "partials/collaborator-list.njk" %}. С дополнительной помощью от {% include "partials/otherhelper-list.njk" %}</p>

<p>Если вы хотите помочь добавить перевод на свой язык, отправьте PR на {% github_link %}</p>