<p>非常感謝每一位為網站添加新語言翻譯的人，你們真的太棒了!
{% include "partials/collaborator-list.njk" %}. With additional help from {% include "partials/otherhelper-list.njk" %}</p>

<p>如果你也想為網站添加一個新語言, 可以在這裡提交 PR {% github_link %}</p>