<p>Sok-sok köszönet mindenkinek, aki vállalkozott az oldal új nyelvekre való fordítására. Királyak vagytok!</p>
{% include "partials/collaborator-list.njk" %}. További segítők: {% include "partials/otherhelper-list.njk" %}</p>

<p>Ha szeretnéd a saját nyelvedre lefordítani, nyiss egy PR-t itt: {% github_link %}</p>
