<footer>
    <small class="contact">Care este momentul tau de rahat cu gitul? Zi si mie!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
