<footer>
    <small class="contact">Care este momentul tău de rahat cu gitul? Zi-mi și mie!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
