<p>Gitul nu e pentru toti: sa dai cu bata in balta e usor, dar sa iti dai seama cum sa repari e imposibil, rahat! Documentatia gitului are problema oului si a gainii unde nu poti sa cauti cum sa te scoti din rahat, <em>decat daca stii deja numele a ceea ce trebuie sa stii</em> pentru a-ti rezolva problema.</p>

<p>Deci uite cateva situatii de rahat in care m-am bagat si cum m-am scos singur in cele din urma din ele <em>pe romaneste</em>.</p>
