<p>Gitul nu e pentru toți: să dai cu bâta în baltă e ușor, dar să îți dai seama cum să repari e imposibil, rahat! Documentația gitului are problema oului și a găinii și nu poți să cauți cum să te scoți din rahat, <em>decât dacă știi deja numele a ceea ce trebuie să știi</em> pentru a-ți rezolva problema.</p>

<p>Deci uite câteva situații de rahat în care m-am băgat și cum m-am scos singur în cele din urmă din ele <em>pe românește</em>.</p>
