<p>*Ca sa stii: Siteul acesta nu e menit sa fie o referinta exhaustiva. Si da, exista alte moduri de a face aceleasi lucruri mai pur din punct de vedere teoretic sau in fine, dar eu am ajuns la acesti pasi dupa numeroase erori si reincercari si multe injuraturi si rasturnari de mese si am avut ideea aceasta nebuneasca sa ti le impartasesc cu o doza sanatoasa de simplu si profan. Ia-o sau las-o, cum vrei!</p>
