<p>Multe mulțumiri tuturor celor care au contribuit voluntar la traducerea acestui site în alte limbi. Sunteți cei mai tari!
{% include "partials/collaborator-list.njk" %}. Cu ceva ajutor de la {% include "partials/otherhelper-list.njk" %}</p>

<p>Dacă ai vrea să ajuți cu adăugarea unei traduceri în limba ta, bagă un PR aici {% github_link %}</p>
