<footer>
    <small class="contact">Et vous, c'est quoi votre moment "Flûte&nbsp;! git"&nbsp;?  Partagez-les avec moi&nbsp;!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>