<footer>
    <small class="contact">당신이 경험한 다른 Git이 있나요? 저에게 알려주세요!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>