<p>Git은 어렵다. 툭하면 실수를 저지르게 되고, 실수를 되돌리는 방법을 찾는 건 너무너무 복잡하다. Git의 공식 문서에서 문제에 대한 해결책을 찾으려면, <em>이미 그 해결책의 이름을 알고 있지 않고서는 불가능하다.</em> 마치 닭이 먼저냐 달걀이 먼저냐의 문제처럼.</p>

<p>그래서 이 글에서는 Git을 사용하면서 내가 겪었던 여러가지 문제들을 소개하고, 그걸 어떻게 해결했는지를 <em>알기 쉬운 한국어로 설명하고자 한다</em>.</p>
