<p>*Disclaimer: 이 사이트를 엄밀한 레퍼런스 용도로 사용하지 말 것. 더 엄밀하고 깔끔한 방법으로 이 사이트의 내용과 같은 기능을 하는 해결책이 분명히 있을 수 있다. 그러나 여기 소개한 내용은 내가 직접 수많은 욕설을 내뱉고 실수를 거듭하여 발견한 방법들이고, 그렇기에 이 사이트에 *적절한 양의 욕설을 섞어서* 소개한다. 쓰든지 말든지는 맘대로 하시길!</p>