<p>이 사이트를 다양한 언어로 번역해준 많은 사람들에게 감사를 전합니다!
{% include "partials/collaborator-list.njk" %}. 다른 방식으로 이 글에 기여해준 {% include "partials/otherhelper-list.njk" %}에게도 감사를 표합니다.</p>

<p>이 글을 새로운 언어로 번역하는 것에 관심이 있다면, {% github_link %}에 PR을 날려주세요.</p>