body {
    font-family: "Open Sans", sans-serif;
    color: #222;
    background-color: #fff;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    position: relative;
}
.prevent-safari-overflow-scroll {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
h1 {
    line-height: 1.2;
    font-size: 3em;
}
h2 {
    font-size: 1.75em;
}
p {
    margin: 1em 0;
}
.notice,
footer {
    padding: 1em;
    background: #222;
    color: white;
    text-align: center;
}
.notice a,
footer a {
    color: white;
}
.langpicker {
    float: right;
    margin-top: 0.5em;
    margin-bottom: 2em;
    overflow: hidden;
}
.langpicker * {
    box-sizing: border-box;
}
.langpicker-button {
    border: 2px solid #222;
    background: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 2.5em;
    position: relative;
    padding: 0.5em;
    border-right: none;
    text-align: left;
    -webkit-appearance: none;
    position: relative;
    left: 2px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
}
.langpicker-icon {
    height: 2em;
    width: 1.5em;
    transition: 0.2s transform;
}
.langpicker-button:hover .langpicker-icon,
.langpicker-button:active .langpicker-icon,
.langpicker-button:focus .langpicker-icon {
    transform: rotate(135deg);
}
.langpicker-text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 0.5em;
    min-width: 10em;
}
.langpicker-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2em 0.5em;
    transform: translateX(100%);
    transition: 0.2s ease-out;
    top: 0;
    right: 0;
    background-color: #222;
    color: #fff;
    border: 2px solid #222;
    border-top: none;
    position: absolute;
    min-height: 100%;
    width: 10em;
    z-index: 1000;
}
.langpicker-button.open + .langpicker-list {
    transform: translateX(0);
}
.langpicker-list li {
    padding: 0.5em;
}
.langpicker-list a {
    display: inline-block;
    color: #fff;
}
.max-width {
    margin: 1em;
    clear: both;
}
@media screen and (min-width: 680px) {
    .max-width {
        margin: 0 100px 0 170px;
        max-width: 680px;
    }
}
@media screen and (min-width: 1020px) {
    .max-width {
        margin: 0 auto;
    }
}
.centered {
    text-align: center;
}
.spaced {
    margin: 2em 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.top-lined {
    padding-top: 2em;
    border-top: 1px solid #000;
}
.bottom-lined {
    padding-bottom: 2em;
    border-bottom: 1px solid #000;
}
.intro {
    display: flex;
    flex-direction: column;
}
.ads {
    order: 1;
}
@media screen and (min-width: 680px) {
    .ads {
        order: inherit;
    }
}
.permalinked {
    color: #222;
    text-decoration: none;
}
.permalinked:hover,
.permalinked:focus {
    text-decoration: underline;
}
.no-wrap {
    white-space: nowrap;
}
.twitter-icon {
    height: 13px;
    vertical-align: middle;
    margin-left: 0.25em;
}
.github-icon {
    height: 16px;
    vertical-align: middle;
    margin-right: 0.25em;
}
footer {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 800px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .copyright {
        order: 0;
    }
    .contact,
    .twitter {
        order: 1;
        margin-left: 1em;
    }
}

#carbonads {
    position: absolute;
    display: block;
    overflow: hidden;
    margin-left: -160px;
    max-width: 130px;
    text-align: right;
    font-size: 14px;
    line-height: 1.5;
}
#carbonads a {
    color: inherit;
    text-decoration: none;
}
#carbonads a:hover {
    color: inherit;
}
#carbonads span {
    display: block;
    overflow: hidden;
}
.carbon-img {
    display: block;
    margin: 0 auto 8px;
    line-height: 1;
}
.carbon-text {
    display: block;
    margin-bottom: 8px;
}
.carbon-poweredby {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 1;
}
@media only screen and (min-width: 320px) and (max-width: 679px) {
    #carbonads {
        position: relative;
        float: none;
        margin: 0 auto;
        padding: 10px;
        max-width: 330px;
        border: solid 1px #8f8f8f;
        text-align: left;
    }
    #carbonads span {
        position: relative;
    }
    #carbonads > span {
        max-width: none;
    }
    .carbon-img {
        float: left;
        margin: 0 1em 0 0;
    }
    .carbon-text {
        float: left;
        margin-bottom: 0;
        max-width: calc(100% - 130px - 1em);
    }
    .carbon-poweredby {
        position: absolute;
        bottom: 0;
        left: 144px;
        display: block;
    }
}

.rtl {
    direction: rtl;
}
