<footer>
    <small class="contact">
உங்கள் கெட்ட நேரம் என்ன? என்னுடன் பகிர்ந்து கொள்ளுங்கள்!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>