<p>தளத்தை புதிய மொழிகளில் மொழிபெயர்க்க முன்வந்த அனைவருக்கும் மிக்க நன்றி, நீங்கள் ராக்!
{% include "partials/collaborator-list.njk" %}. இருந்து கூடுதல் உதவியுடன் {% include "partials/otherhelper-list.njk" %}</p>

<p>உங்கள் மொழியில் மொழிபெயர்ப்பைச் சேர்க்க நீங்கள் உதவ விரும்பினால், ஒரு PR ஐ சமர்ப்பிக்கவும் {% github_link %}</p>