<footer>
    <small class="contact">तिम्रो "अरे यार्, git" पल कुन थियो? म संग सयर गर!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>