<p>Git गार्हो छ: सजिलै गल्ति गर्न सकिन्छ, र त्यो गल्ति लाई कसरी सुधार्ने भनेर जान्न झन्डै-झन्डै असम्भव नै छ| Git को डकुमेन्टेसन(documentation) मा पनि फेरी, त्यो "कुखुरा पहिला आयो कि अन्डा" जस्तो कुरा लेखिएको छ, जहाँ हामी चाहेर पनि त्यो गल्ति सुधार्ने तरिका खोज्न सक्दैनौ| <em>जब सम्म त्यो गल्तिको टेक्निकल (technical) नाम थाहा हुदैन, तब सम्म त्यो गल्ति सुधार्न सकिदैन |</em></p>

<p>ल, अब मैले भोगेका समस्या हरु, र तिनीहरुलाई समाधान गर्ने तरिकाहरू <em>सरल नेपाली </em> भाषामा छलफल गरौं|</p>
