<p>*सूचना: यो साइट पूर्ण रुपमा git को आधिकारिक साइट कै सट्टामा सन्दर्भ लिने मनसाय ले बनाइएको होइन| र हो, यी समस्या हरु समाधान गर्न अन्य "राम्रा" तरिका हरु पनि छन्, तर माथि उल्लेखित बिधि हरु मैले धेरै परीक्षण र गल्ति हरु बाट सिकेका हुन्, र ति कुरा हरु यो वेबसाइट मार्फत सबै संग सहज र मनोरञ्जनात्मक तरिका मा सेयर गर्न मन लाग्यो| तिम्रो इछ्या हो अब, यसलाई मन पराउछौ या पराउदैनौ!</p>