<p>*सूचना: यो साइट पूर्ण रुपमा git को सन्दर्भ लिने मनसाय ले बनाइएको होइन| र हो, यी समस्या हरु समाधान गर्न अन्य "शुद्ध" तरिका हरु पनि छन्, तर माथि उल्लेखित बिधि हरु मैले धेरै परीक्षण र गल्ति हरु बाट सिके, र ति कुरा हरु सबै संग यो वेबसाइट मार्फत सहज र मनोरञ्जनात्मक तरिका मा सेयर गर्न मन लग्यो| तिम्रो इछ्या हो अब, यसलाई मन पराउछौ या पराउदैनौ!</p>