<p>यो वेबसाइट अनुवाद गर्न मद्हत गर्ने सबै सहयोगी साथि हरु लाई धेरै धेरै धन्यवाद, सलाम छ!
{% include "partials/collaborator-list.njk" %}. अन्य थप सहयोगी हरु {% include "partials/otherhelper-list.njk" %}</p>

<p>यदि तिमीलाई आफ्नो निजी भाषा मा यो वेबसाइट अनुवाद गर्न मन छ भने, मलाई PR पठाऊ {% github_link %}</p>