<footer>
    <small class="contact">Was isch di "Oh shit, git"-Moment? Loss es mi wüsse!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>