<p>Git isch schwer: Fähler z mache isch licht, und usezfinde wie me si wider behebt isch am Aafang fast unmöglich. Au d Dokumentation hilft oft nid witter, <em>wil me erscht die passende Begriff kenne muess</em>, mit dene me si Problem löse cha.</p>

<p>Dorum gits do einigi Situatione, in dene ich mi scho gfunde ha, und wie ich us dene wider uusecho bi – <em>alles in simpler Sprooch</em>.</p>
