<p>
    *Disclaimer: Die Sitte söll kei umfangriichi Dokumentation si. Jä, es git anderi Wäg um s gliiche z erreiche, vellicht auch eleganteri. Aber ich ha die Schritt durch Trial and Error und nach vielem Flueche und Ausraste zämmetreit, und ha ebe die verrückte Idee, si au in dr entsprächende Uusdruckswiis z teile. Take it or leave it!
</p>