<p>Git çətindir: hər şeyi dağıtmaq isə asan, və səhvlərinizi necə düzəldəcəyinizi tampaq da mümkünsüz kimi bir şeydi. Git dokumentasiyasına girib axtarmağa başladığınızda, bu qarmaşıqlıq içindən necə canınızı qurtaracağınızı tapmaq istəyirsiz və bunun tək yolu <em>qarşılaşdığınız xətanın adının nə olduğunu bilirsizsə mümkün ola biləcəyini</em> başa düşürsüz. Sonra toyuq yumurtadan çıxıb yumurtamı toyuqdan deyə fikirləşirsiz.</p>

<p>Və buna görə də, burada özümün içindən çıxa bilmədiyim vəziyyətləri, və bunlardan bir müddət sonra necə canımı qurtardığımı <em>sadə dildə Azərbaycanca</em> izah etməyə çalışacam.</p>
