<p>Bu saytı yeni dillərə çevirmək üçün könüllü olan hər kəsə çox çox təşəkkürlər, möhtəşəmsiz!
{% include "partials/collaborator-list.njk" %}. Əlavə olaraq {% include "partials/otherhelper-list.njk" %}'ın köməyi ilə.</p>

<p>Əgər siz də kömək olub öz dilinizə çevirmək istəyirsizsə {% github_link %} repo'suna PR göndərin.</p>