<p>Many thanks to everyone who has volunteered to translate the site into new languages, you rock!
{% include "partials/collaborator-list.njk" %}. With additional help from {% include "partials/otherhelper-list.njk" %}</p>

<p>If you'd like to help add a translation into your language, submit a PR on {% github_link %}</p>