<footer>
    <small class="contact">Wat is jouw Potver, git moment? Vertel het me!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
