<p>Git is moeilijk: fouten maken is veel te simpel en uitzoeken hoe je die vervelende fouten moet herstellen is bijkans onmogelijk. Git documentatie werkt niet, want omdat je toch al <em>helemaal niet weet hoe je uit die ellende moet komen</em>, weet je toch ook niet waar je naar moet zoeken om de gemaakte fouten op te lossen?</p>

<p>Daarom staan hier wat problemen beschreven waar ik tegenaan gelopen ben en hoe ik me hier uiteindelijk uit heb weten te redden <em>in versimpeld Nederlands.</em></p>
