<p>*Disclaimer: Deze site is zeker niet bedoeld als uitgebreide referentie. En ja, er zijn betere manieren om dezelfde dingen te bereiken die theoretisch gezien zeker kloppen. Ik ben met vallen met vallen en opstaan, en het einde van vele toetsenborden, tot deze stappen gekomen en heb besloten deze te delen. Ik doe dat met een gezonde dosis zelfhumor en besef dat het beter kan.

Maak er gebruik van als je wilt, zo niet: ook goed!</p>
