<p>Dank aan iedereen heeft geholpen de site in andere talen om te zetten: jullie heersen!

{% include "partials/collaborator-list.njk" %}. Ook hebben {% include "partials/otherhelper-list.njk" %} geholpen.</p>

<p>Als je ook een vertaling naar jouw taal wil toevoegen, stuur dan een PR op {% github_link %}</p>
