<p>Git çətindir: sıçıb bulamaq isə asan, və səhvlərinizi necə düzəldəcəyinizi tampaq da mümkünsüz kimi bir şeydi. Git dokumentasiyasına girib axtarmağa başladığınızda, bu zir zibilin içindən necə canınızı qurtaracağınızı tapmağın tək yolunun <em>qarşılaşdığınız xətanın adının nə olduğunu bilirsizsə mümkün ola biləcəyini</em> başa düşürsüz. Sonra toyuq yumurtadan çıxıb yumurtamı toyuqdan fikirlərinə gedirsiz.</p>

<p>Və buna görə də, burada özümün içindən çıxa bilmədiyim vəziyyətləri, və bunlardan bir müddət sonra necə canımı qurtardığımı <em>sadə dildə Azərbaycanca</em> izah etməyə çalışacam.</p>
