<p>*Etiraz: Bu saytın təfərruatlı bir mənbə olmaq kimi bir məqsədi yoxdur. Və haqlısız, burda yazılan həlləri reallaşdırmanın daha teorik üsulları da var, amma mən bu həllərə sınama və səhv çıxma, çoxlu söyüşlər və ora bura masa tullamaqla gəldim və bunları həyasızlıq və söyüş ilə bölüşmək üçün dəli fikrim var idi. Ya istifadə edin, ya da buraxın getsin!</p>