<footer class="spaced centered">
    <p class="top-lined bottom-lined">
        *Disclaimer: Diese Seite soll keine umfangreiche Dokumentation sein. Ja, es gibt andere Wege um dieselben Dinge zu erreichen, vielleicht auch elegantere. Aber ich habe diese Schritte durch Trial and Error und nach vielem Fluchen und Ausrasten zusammengetragen, und hatte eben die verrückte Idee, sie auch in der entsprechenden Ausdrucksweise zu teilen. Take it or leave it!
    </p>
    <small>
        <p>Was war dein "Mist, git"-Moment? Lass es mich wissen! <a href="https://twitter.com/ksylor">@ksylor</a></p>
        <p>{{site.copyright | safe}}</p>
    </small>
</footer>


