<footer>
    <small class="contact">Apa momen Waduh, git Anda? Bagikan ke Saya!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>