<p>Git itu sulit: melakukan kesalahan di git mudah, dan mengetahui cara untuk memperbaiki kesalahan tersebut nyaris tidak mungkin. Dokumentasi Git memiliki masalah seperti masalah ayam dan telur di mana Anda tidak bisa keluar dari masalah, <em>kecuali Anda sudah mengetahui terlebih dahulu masalah Anda yang Anda perlu tahu</em> untuk memperbaiki masalah Anda.</p>

<p>Jadi ini adalah beberapa situasi sulit yang pernah Saya hadapi, dan bagaimana cara Saya menyingkapinya <em>dengan bahasa yang mudah dipahami</em>.</p>
