<p>Terima kasih banyak untuk semua yang telah suka rela menerjemahkan situs ini ke bahasa lain, kalian keren!
{% include "partials/collaborator-list.njk" %}. Dengan pertolongan tambahan dari {% include "partials/otherhelper-list.njk" %}</p>

<p>Jika Anda ingin membantu menambahkan terjemahan ke bahasa Anda, serahkan PR Anda di {% github_link %}</p>