<footer>
    <small class="contact">আপনার ওহ গিট মোমেন্ট, আমার সাথে শেয়ার করুন!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>