<p>*Disclaimer: এই সাইটটি একটি সম্পূর্ণ রেফারেন্স হওয়ার উদ্দেশ্যে নয়। এবং হ্যাঁ, আরও তাত্ত্বিক বিশুদ্ধতা বা যাই হোক না কেন এই একই জিনিসগুলি করার অন্যান্য উপায় রয়েছে। তবে আমি প্রচুর ট্রাইয়াল-এন্ড-এরর এবং গালাগালি এবং টেবিল উল্টানর এর মাধ্যমে এখানে পৌঁছেছি, এবং সবার সাথে ভাগ করে নিতে আমার এই উন্মাদ ধারণাটি ছিল একটা স্বাস্থ্যকর ডোজ। এটি নিন বা ছেড়ে দিন সেটি একান্তই ব্যক্তিগত!</p>