<p>যারা সাইটটিকে নতুন ভাষায় অনুবাদ করতে স্বেচ্ছাসেবি হয়েছ তাদের প্রত্যেককে অনেক ধন্যবাদ, তোমরা অসাধারণ!
{% include "partials/collaborator-list.njk" %}. ধন্যবাদ অতিরিক্ত সহায়তায় {% include "partials/otherhelper-list.njk" %}</p>

<p>আপনি যদি নিজের ভাষায় কোনও অনুবাদ যুক্ত করতে সহায়তা করতে চান, submit a PR on {% github_link %}</p>