<p>Git er vanskelig: det er lett å drite seg ut, og å finne ut hvordan man retter opp i sine feil er faen meg umulig. Likesom med høna og egget har Git-dokumentasjonen et problem hvor det er umulig å finne ut hvordan man skal komme seg ut av ens rot,
<em>med mindre du allerede vet navnet på tingen du trenger å vite om</em> for å fikse problemet ditt.</p>

<p>Så her er noen kjipe situasjoner jeg har havna i, og måten jeg til slutt kom meg ut av de på, <em>på godt norsk</em>.</p>
