<p>*Ansvarsfraskrivelse: Denne siden er ikke ment som en fullstending referanse. Ja, det finnes andre måter å gjøre de samme tingene med mer teoretisk renhet eller noe sånt, men jeg har kommet frem til disse stegene via prøving og feiling og masse banning og bordkasting, og jeg hadde den snodige ideen å dele de med en solid dose lettbeinthet og bannskap. Ta det som det er!</p>
