<footer>
    <small class="contact">tenpo sina pi pakala pi ilo Git li seme? o toki e ni tawa mi!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
