<p>pali kepeken ilo Git li pali suli: pakala li ken tan lili; pakala li lon la, sina ken ala alasa e nasin pi weka pakala. lipu nasin pi ilo Git li pakala ni: sina sona ala e nimi nasin la, sina ken ala alasa e nasin li ken ala weka e pakala.</p>

<p>ni la, mi toki e ijo pakala pi tenpo pini mi, e nasin mi pi weka pakala, <em>kepeken toki pona</em>.</p>
