<p>*o sona e ni: nasin ale ala li lon lipu ni. ken la nasin ante li pona tawa sona sewi anu seme a a a. taso mi kama sona e nasin pi lipu ni tan pakala mute mi tan pilin pakala mi. mi wile pana e ona kepeken musi pona. wile sina la o kepeken anu kepeken ala.</p>
