<p>jan mute li kama li ante toki e lipu ni tawa toki mute. pona mute tawa ona. sina pona a!
{% include "partials/collaborator-list.njk" %}. pali ante tan: {% include "partials/otherhelper-list.njk" %}</p>

<p>sina wile ante e lipu tawa toki sina la, o pana e PR tawa ni: {% github_link %}</p>
