<footer>
    <small class="contact">உங்கள்ளுக்கு எதவது பரசனைய? என்னுடன் பகிர்ந்து கொள்ளுங்கள்!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>