<p>Git கடினமானது: திருக்குவது எளிது, உங்கள் தவறுகளை எவ்வாறு சரிசெய்வது என்பதைக் கண்டுபிடிப்பது சாத்தியமற்றது. Git ஆவணத்தில் இந்த கோழி மற்றும் முட்டை பிரச்சனை உள்ளது, அங்கு உங்களை ஒரு குழப்பத்திலிருந்து எப்படி வெளியேற்றுவது என்று தேட முடியாது பிரச்சனை.</p>

<p>எனவே சில மோசமான சூழ்நிலைகள் இங்கே நான் என்னைப் பெற்றுக் கொண்டேன், இறுதியில் நான் எப்படி அவர்களிடமிருந்து வெளியேறினேன் <em> எளிய ஆங்கிலத்தில்</em>.</p>