<p>*மறுப்பு: இந்த தளம் ஒரு முழுமையான குறிப்பு நோக்கமாக இல்லை. ஆமாம், அதே கோட்பாட்டு தூய்மையுடன் அல்லது வேறு எதையாவது செய்ய வேறு வழிகள் உள்ளன, ஆனால் நான் சோதனை மற்றும் பிழை மற்றும் நிறைய சத்தியம் மற்றும் மேஜை புரட்டல் மூலம் இந்த படிகளுக்கு வந்தேன், அவற்றை பகிர்ந்து கொள்ள எனக்கு இந்த பைத்தியம் யோசனை இருந்தது ஆரோக்கியமான அளவு மற்றும் அவதூறு. அதை எடுத்துக் கொள்ளுங்கள் அல்லது உங்கள் விருப்பப்படி விட்டு விடுங்கள்!</p>