<footer>
    <small class="contact">तुम्हारा अरे यार Git पल क्या है? इसे मेरे साथ साझा करो!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>