<p>Git isch schwer: Fähler zu machen isch licht, und uusezfinde wie me si wider behebt isch am Anfang fast unmöglich. Au d Dokumentation hilft meist nid wiiter, <em>well me erst die passende Begriff kenne muess</em>, mit dene me si Problem löse cha.</p>

<p>Dorum gits do einigi Situatione, in dene ich mi scho gfunde ha, und wie ich do wider uusecho bi – <em>alles in simpler Sprooch</em>.</p>
