<p>
    *Disclaimer: Die Sitte sötti kei umfangriichi Dokumentation si. Jä, es git anderi Wäg um die gliiche Sache z erreiche, villicht auch eleganteri. Aber ich ha die Schritt durch Trial and Error und nach vielem Flueche und Uusraste zämmetreit, und ha ebe au die verrcukti Idee gha, si au in dr entsprächende Uusdruckswiis z teile. Take it or leave it!
</p>