<p>Viele Dank an alli, wo sich freiwillig gmäldet hän, zum die Website in neui Sprooche z übersetze. Ihr sind die Beste!
{% include "partials/collaborator-list.njk" %}. Mit zusätzlicher Hilfe von {% include "partials/otherhelper-list.njk" %}</p>

<p>Wenn Si bim Hinzuefiege vonere Übersetzig in Ihri Sproche helfe wännd, sände Si e PR uf {% github_link %}</p>
