<footer>
    <small class="contact">Jaká je tvoje "Do hajzlu" zkušenost s Gitem? Napiš nám!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
