<p>Varování: Tato stránka nemá být vyčerpávající dokumentací. A ano, vždycky jsou i jiné cesty, jak konkrétní problémy vyřešit jinými (teoreticky čistšími) způsoby, ale toto jsou moje postupy, ke kterým jsem dospěl po mnoha chybách, nadávání a bušení pěstí do stolu. Nyní je s Vámi sdílím za pomocí zdravé dávky nadsázky a jadrné mluvy. Berte nebo nechte být!</p>
