<p>Díky moc všem, kteří se dobrovolně zapojili do překladu této stránky do nových jazyků. Dobře vy!
{% include "partials/collaborator-list.njk" %}. Dále pomohli {% include "partials/otherhelper-list.njk" %}</p>

<p>Pokud byste chtěli přidat překlad také do svého jazyka, vytvořte PR na {% github_link %}</p>
