<footer>
    <small class="contact">Какъв е твоят Ах дейба гит момент? Сподели го с мен!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>