<p>Гит е труден: да се осереш е лесно и да разбереш как да си оправиш грешките е загубена кауза. Документацията на гит има един проблем с кокошката и яйцето, където не можеш да намериш как да се издърпаш от тая каша, <em>освен ако вече не знаеш наименованието на нещото което искаш да разбереш</em> за да си оправиш проблема.</p>

<p>И ето някои кофти ситуации в които съм се набутвал и как накрая съм се измъквал от тях <em>на прост български</em>.</p>
