<p>* अस्वीकरण: यह साइट पूर्ण संदर्भ के लिए नहीं है। और हाँ, इस चीज़ को करने के और भी बेहतर तरीके हो सकते हैं, लेकिन मैं इस परिणाम पर कई चरणों के परीक्षण और बहुत सारी कठबोली और टेबल फ़्लिपिंग के माध्यम से आया हूं, और मेरे दिमाग में यह साइट बनाने का पागल विचार आया जिसे मैं आपके साथ साझा कर रहा हूँ। हमारी कोई जवाबदारी नहीं है!</p>