<aside class="notice"><aside class="notice">Прывітанне! Версію без матюкоў можна знайсці тут: <a href="{{site.url_noswears}}/{{locale}}">dangitgit.com</a></aside> <a href="{{site.url_noswears}}/{{locale}}">dangitgit.com</a></aside>