<p>Git складана: лёгка ўсё прасраць, і нерэальна зразумець як выправіць. Дакументацыя Git - гэта фініш: каб знайсці рашэнне, <em>табe загадзя трэба ведаць назву каманды</em>, якая верне ўсё на месца.</p>

<p><em>Папулярна</em> апішу некалькі сітуацый, з якіх мне давялося выбірацца.</p>