<p>
    *Папярэджанне: Гэты сайт не з'яўляецца канчатковай інструкцыяй. Так, ёсць іншыя спосабы зрабіць тое ж самае, але я прыйшоў да гэтага метадам спроб і памылак, і цяпер дзялюся гэтым з вялікай дозай легкадумнасці і лаянкі. Прыміце гэта або сыдзіце!
</p>