<footer>
    <small class="contact he">מה הוא רגע ה"אוי שיט, גיט" שלך? שתף אותי!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>