<p class="rtl">גיט זה קשה: קל מאוד לפשל, ולהבין איך לתקן את הטעויות שלך זה פאקינג בלתי אפשרי. התיעוד של גיט סובל מבעיית הביצה והתרנגולת בה אתה לא יכול לחפש כיצד להוציא את עצמך מהבלאגן, <em> אלא אם כן אתה כבר יודע את השם של הדבר שעלייך לדעת מראש <em> כדי לתקן את הבעיה שלך.</p>

<p class="rtl">אז הנה כמה מצבים גרועים שהגעתי אליהם, ואיך בסופו של דבר הוצאתי את עצמי מהם  <em>בעברית פשוטה</em>.</p>
