<p class="he">* הצהרה: אתר זה אינו מיועד להיות מקור סימוכין, וכן, ישנן דרכים אחרות לעשות את אותם הדברים בצורה תיאורטית יותר או פחות, אך הגעתי לשלבים האלו באמצעות ניסוי וטעייה והרבה קללות. היה לי את הרעיון המטורף הזה לשתף אותם במינון בריא של גסות רוח. קח את זה, או הנח לזה!</p>