<footer>
    <small class="contact">What's your Dang it, git moment? Share it with me!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>