<footer>
    <small class="contact">Діліться своїми "Чорт забирай, git!" моментами зі мною!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>