<p>Git - це складно: помилитися дуже легко а зрозуміти як виправити свої помилки неможливо. Документація Git має проблеми курки та яйця, так як неможливо знайти рішення своєї проблеми, <em>якщо ти його вже не знаєш!</em></p>

<p>Так що ось декілька поганих ситуацій в яких я сам перебував і мої способи їх розв'язання <em>по-людськи</em>.</p>