<footer>
    <small class="contact">Wat is jouw Godver, Git moment? Vertel het me!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
