<p>Git is moeilijk: fouten maken is verrot simpel en uitzoeken hoe je die kut fouten moet herstellen is godsonmogelijk. Git documentatie werkt niet, want omdat je <em>verdomme niet weet hoe je uit die ellende moet komen</emm>, weet je ook niet waar je naar moet zoeken om die klerefouten op te lossen</p>

<p>Daarom staan hier wat problemen waar ik tegenaan gelopen ben en hoe ik me hier uiteindelijk uit heb weten te redden <em>in simpel Nederlands.</p>
