<p>*Disclaimer: Deze site is niet bedoeld als uitgebreide referentie. En ja, er zijn betere manieren om dezelfde dingen te bereiken die theoretisch gezien zeker kloppen, ik heb echter met vallen en opstaan, veel te veel vloeken en na het einde van vele toetsenborden deze stappen besloten te delen. Ik doe dat met een gezonde dosis zelfhumor en besef dat het beter kan. Maak er gebruik van als je wilt, zo niet: ook goed!</p>
