<footer>
    <small class="contact rtl">ما هي اللحظة التي قلت فيها آخخ يا git ؟ شاركها معي!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>