<p class="rtl">
الgit صعب : التعثر سهل, و معرفة كيفية اصلاح اخطائك مستحيل.التوثيق ل git تتمثل فيه مشكلة الدجاجة و البيضة , بحيث لا تستطيع البحث عن كيفية اخراج نفسك من المأزق  
<em>الا اذا كنت تعلم اسم الحل الازم</em> 
حتى تحل مشكلتك.

</p>

<p class="rtl">
 لذا فهذه هي مجموعة من المواقف السيئة وضعت نفسي بها و كيف تمكنت بنهاية المطاف اخراج نفسي منها.
<em>باللغة العربية الواضحة</em>.
</p>
