<p class="rtl">*إخلاء مسؤولية: لا يُقصد بهذا الموقع أن يكون مرجعاً شاملاً. و نعم هنالك طرق أخرى للقيام بهذه الأشياء بطريقة نظرية أكثر أو إلخ. لكن توصلت إلى هذه الخطوات من خلال التجربة و القيام بالأخطاء و الكثير من الشتائم و تقليب الطاولة، و كانت لي هذه الفكرة المجنونة لمشاركتها مع جرعة صحية من اللامبالاة و الألفاظ النابية. خذها أو اتركها، كما تشاء!</p>