<p class="rtl">
ملاحظة : هذا الموقع ليس معنياً بأن يكون مرجع متكامل, و نعم هناك طرق أخرى لفعل الأمور نفسها بطرق نقية منسجمة مع النظرية الصحيحة أو اياً كان , لكنني توصلت الى هذه الخطوات عن طريق التجربة و الخطأ و الكثير من الشتم و قلب للطاولات , و كانت لدي هذه الفكرة بأن اشاركهم معكم بالإضافة إلى القليل من الفكاهة. خذه او اتركه كما تريد ! 
</p>