<p class="rtl">جزيل الشكر لكل من تطوع لترجمة الموقع إلى لغات جديدة، انتم مذهلون! <br>
{% include "partials/collaborator-list.njk" %}. بمساعدة اضافية من {% include "partials/otherhelper-list.njk" %}</p>

<p class="rtl">إن كنت تودّ المساعدة بإضافة ترجمة ما بلغتك قم بعمل PR على {% github_link %}</p>