<aside class="ads">
{% if contentType === "swears" %}
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7DTKQE&placement=ohshitgitcom" id="_carbonads_js"></script>
{% endif %}

{% if contentType === "noswears" %}
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CEBIK2JJ&placement=dangitgitcom" id="_carbonads_js"></script>
{% endif %}
</aside>