{% if site.languages.length > 1 %}
<nav class="langpicker" aria-label="{% langpicker_arialabel locale, site.languages %}" id="picker">
    <button class="langpicker-button" id="picker-btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="langpicker-icon" stroke="#222" fill="none" viewBox="0 0 420 420">
          <path stroke-width="26" d="M209 15a195 195 0 102 0z"/>
          <path stroke-width="18" d="M210 15v390m195-195H15M59 90a260 260 0 00302 0m0 240a260 260 0 00-302 0M195 20a250 250 0 000 382m30 0a250 250 0 000-382"/>
        </svg>

        <span class="langpicker-text" id="picker-text">{% langpicker_arialabel locale, site.languages %}</span>
    </button>

    <ul class="langpicker-list" id="picker-list">
    {% for lang in site.languages | sort(false, true, "code") %}
        {% if lang.code != locale %}
            <li><a href="/{{lang.code}}">{{lang.label}} ({{lang.code}})</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
{% endif %}