<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
{% set css %}
    {% include "site.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>
<link href="/prism.css" rel="stylesheet" />