<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
{% set css %}
    {% include "site.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>
<link href="/prism.css" rel="stylesheet" />