<p>धेरै धेरै धन्यवाद सबै सहयोगी साथि हरु लाई, जसले यो वेबसाइट अनुवाद गर्न मद्हत गरे, सलाम छ!
{% include "partials/collaborator-list.njk" %}. अन्य थप सहयोगी हरु {% include "partials/otherhelper-list.njk" %}</p>

<p>यदि तिमीलाई आफ्नो निजी भाषा मा अनुवाद गर्न मन छ भने,मलाई PR पठाऊ {% github_link %}</p>