<footer>
    <small class="contact">Bạn còn tình huống gì khiến mình phải thốt lên "Thôi xong rồi, Git ơi" nữa không? Hãy chia sẻ với tôi nhé!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>