<p>Dùng Git khó lắm: dễ mắc sai lầm như chơi, mà tìm ra cách sửa sai thì cũng vô cùng gian nan. Tìm đọc tài liệu của Git thì lại cứ như vấn đề con gà và quả trứng, <em>phải biết trước cái tên của cái điều mình muốn biết là gì thì mới hòng tra ra được cách chữa lỗi,</em> còn nếu không biết trước thì thôi chắc phải đầu hàng luôn quá.</p>

<p>Thế nên sau đây tôi xin chia sẻ một vài ca khó ở mà tôi từng vướng phải, rồi rốt cuộc tôi đã tháo gỡ khúc mắc như thế nào. Nội dung sẽ được trình bày bằng Tiếng Việt <em>mộc mạc</em> và <em>dễ hiểu</em>.</p>
