<p>Git rất khó: thật dễ gặp sự cố và tìm ra cách để sửa chúng là gần như không thể. Tài liệu về Git có cả tình huống giữa gà và trứng nơi mà bạn không tài nào tìm ra cách để thoát ra khỏi bế tắc <em>trừ khi bạn đã biết tên của thứ mà bạn nên biết</em> để giải quyết vấn đề của bạn.</p>

<p>Vì vậy, đây là những trường hợp tệ mà tôi từng rơi vào và cách tôi thường xử lý.</p>
