<p>*Disclaimer: Trang web này không nhằm mục đích trở thành một tài liệu tham khảo đầy đủ. Và tất nhiên, có những cách khác để làm điều tương tự với lý thuyết thuần thuý hơn hoặc với bất kỳ cái gì, nhưng tôi đã thực hiện các bước này bằng cách thử và sai cùng rất nhiều lần chửi thề và lật bàn, và tôi đã có ý tưởng điên rồ là chia sẻ chúng thô tục một cách có chừng mực. Dùng nó hay không là tuỳ ở bạn!</p>
