<p>Ngàn lời cảm ơn đến những người đã tình nguyện phiên dịch website này sang nhiều ngôn ngữ mới, các bạn tuyệt vời quá!<br>
{% include "partials/collaborator-list.njk" %}.</p>

<p>Với sự trợ giúp bổ sung từ:<br> {% include "partials/otherhelper-list.njk" %}</p>

<p>Nếu bạn có ý muốn đóng góp thêm một bản dịch sang ngôn ngữ của mình, thì bạn cứ việc đưa Pull&nbsp;Request lên {% github_link %} nhé!</p>