<p>Git är svårt: det är lätt att moka, och att ta reda på hur du fixar dina mokan är helt jävla omöjligt. Git-dokumentationen är som problemet med hönan och ägget, du kan inte söka efter hur du kommer ur ditt problem <em>om du inte redan vet namnet på det du behöver lära dig om</em> för att kunna fixa ditt problem.</p>

<p>Så här är några rojsiga situationer som jag har hamnat i, och hur jag har tagit mig ur dem <em>på tvättäkta finlandsvenska</em>.</p>