<footer>
    <small class="contact rtl">ما هي لحظة "Oh shit, git” الخاصة بك؟ شاركها معي!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>