<p dir="rtl">Git صعبة:
             الإخفاق سهل، و معرفة كيفية إصلاح أخطائك أمر مستحيل. تحتوي وثائق Git على مشكلة الدجاج و البيض حيث ليس بإمكانك البحث عن كيفية إخراج نفسك من هذه الفوضى <em>ما لم تكن أصلاً على دراية باسم الشيئ الذي تريد أن تعرف عنه</em> لحلِّ مشكلتك.</p>

<p dir="rtl">إذاً إليك بعضاً من المواقف السيئة التي ورطت نفسي بها و كيف اخرجت نفسي منها في نهاية المطاف <em>بلغة عربية بسيطة</em>.</p>
