
<p class="rtl"> شكراً لكل من ساهم وتطوع لترجمة الموقع إلى لغات أخرى , انتم حقا رائعون!
{% include "partials/collaborator-list.njk" %}. <br>
:مع المساعدة الإضافية من 
{% include "partials/otherhelper-list.njk" %} 
</p>

<p class="rtl">   {% github_link %} اذا أردت أن تساعد و تضيف ترجمة إلى لغتك , قدم طلب عن طريق</p>
