<footer>
    <small class="contact">Senin Hasktir, git hikayen ne? Benimle paylaşabilirsin!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
