<p>Git zordur, sıçıp batırmak ise kolay, hatta bazı durumlarda Cafer bile size bez getirmeyebilir. Git dökümantasyonuna girip aramaya başladığında ise, bu karmaşadan nasıl kurtulabileceğini bulmanın tek yolunun <em>karşılaştığın hatanın adının ne olduğunu bildiğin zaman mümkün olabileceğini</em> sana yaşatan tavuk-yumurta ilişkisine sahip olduğunu görürsün.</p>

<p>Bu yüzden, burada kendimi içine soktuğum durumlardan bazılarını, ve bunlardan zamanla nasıl kurtulduğumu <em>basit bir Türkçe ile</em> anlatmaya çalışayım.</p>
