<p>*Sorumluluk reddi: Bu sitenin teferruatlı bir kaynak olma gibi bir amacı yoktur. Ve haklısınız, burada yazılan çözümleri gerçekleştirmenin daha saf teorik veya her neyse, başka yöntemleri de var, ama ben bu çözümlere deneme yanılma yoluyla, bolca küfrederek ve masa/sandalyeyi sağa sola fırlatarak ulaştım, ve bunları sağlıklı bir dozda alçakgönüllülük ve küfürle paylaşmak gibi çılgınca bir fikre kapıldım. İster alın, istemezseniz bırakın gidin.</p>