<p>Bu siteyi yeni dillere çevirmek için gönüllü olan herkese çok çok teşekkürler, harikasınız! {% include "partials/collaborator-list.njk" %}. Ayrıca {% include "partials/otherhelper-list.njk" %} 'ın yardımlarıyla.</p>

<p>Eğer siz de yardımcı olup kendi dilinize çevirmek isterseniz, {% github_link %} repo'suna bir PR isteği gönderin.</p>