<footer>
    <small class="contact">Ποια είναι δικιά σου Ω σκατά, git στιγμή; Μοιράσου τη μαζί μου!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>