<p>Το git είναι δύσκολο: το να δημιουργήσεις σκατάσταση είναι εύκολο, και το να φτιάξεις τα λάθη σου είναι τελείως αδύνατο. Η βιβλιογραφία του git έχει το πρόβλημα του να ψάχνεις ψύλλο στα άχυρα ώστε να μή μπορείς να βγεις από το χάλι σου, <em>εκτός και αν ξέρεις ήδη το όνομα του πράγματος το οποίο χρειάζεσαι</em> για να φτιάξεις το πρόβλημά σου.</p> 
<p>Ορίστε λοιπόν μερικές σκατό-περιπτώσεις στις οποίες βρέθηκα, και πως εν τέλει κατάφερα να ξεμπλέξω από αυτές, <em>στα λαϊκά</em>.</p>