<p>*Σημείωση: Αυτή η ιστοσελίδα δεν αποτελεί έργο αυτοτελούς αναφοράς. Και ναι, υπάρχουν άλλοι τρόποι οι οποίοι κάνουν τα ίδια πράγματα με πιο κοψό θεωρητικό τρόπο, αλλά έχω καταλήξει σε αυτά τα βήματα κάνοντας και βλέποντας με πολλά μπινελίκια που θα ζήλευε και ο Στέφανος, οπότε είχα αυτή τη τρελή ιδέα να τα μοιραστώ με μία υγιεινή δόση κωμικής ύβρεως. Χαιρετώ και αποχωρώ!</p> 