<p>Πολλά ευχαριστώ σε όσους εθελοντικά μετέφρασαν την ιστοσελίδα και σε άλλες γλώσσες, είστε υπέροχοι!
{% include "partials/collaborator-list.njk" %}. Με πρόσθετη βοήθεια από την {% include "partials/otherhelper-list.njk" %}</p>

<p>Αν θες να βοηθήσεις προσθέτοντας μια μετάφραση στη δικιά σου γλώσσα, κάνε submit ένα PR στο {% github_link %}</p>