<p>Git n'est pas pantoute évident&nbsp;: c'est trop facile de câlisser le bordel partout et crissement impossible de réparer ses erreurs. La documentation de Git tient du problème de l'œuf  et de la poule&nbsp;: pour y chercher comment te sortir de la marde il faut <em>déjà connaître l'osti d'patente qu'il te faut</em> pour résoudre ton problème.

<p>Voici donc quelques exemples de mauvais pas où je me suis fourré, et comment j'ai réussi à m'en tirer, tout ça <em>en français dans le texte</em>*.</p>
