<p>Un grand merci à tous ceux qui ont traduit le site dans d'autres langues&nbsp;, vous déchirez&nbsp;!
{% include "partials/collaborator-list.njk" %}. Avec l'aide supplémentaire de {% include "partials/otherhelper-list.njk" %}</p>

<p>Si vous souhaitez aider à ajouter une traduction dans votre langue, soumettez un PR sur {% github_link %}</p>