<p>Git ist schwer: Fehler zu machen ist leicht, und herauszufinden wie man sie wieder behebt ist am Anfang fast unmöglich. Auch die Dokumentation hilft oft nicht weiter, <em>weil man erst die passenden Begriffe kennen muss</em>, mit denen man sein Problem lösen kann.</p>

<p>Deswegen folgen hier einige Situationen, in denen ich mich schon befunden habe, und wie ich da wieder rausgekommen bin – <em>alles in simpler Sprache</em>.</p>
