<p>Vielen Dank an alle, die sich freiwillig gemeldet haben, um die Website in neue Sprachen zu übersetzen. Sie sind der Beste!
{% include "partials/collaborator-list.njk" %}</p>

<p>Wenn Sie beim Hinzufügen einer Übersetzung in Ihre Sprache helfen möchten, senden Sie eine PR auf {% github_link %}</p>