<p>Vielen Dank an alle, die sich freiwillig gemeldet haben, um die Website in neue Sprachen zu übersetzen. Ihr seid die Besten!
{% include "partials/collaborator-list.njk" %}. Mit zusätzlicher Hilfe von {% include "partials/otherhelper-list.njk" %}</p>

<p>Wenn Sie beim Hinzufügen einer Übersetzung in Ihre Sprache helfen möchten, senden Sie einen PR auf {% github_link %}</p>
