<p>*Varning: Den här sidan är inte meningen att vara heltäckande. Och jo, det finns andra sätt att göra samma sak med mer teoretisk korrekt eller något, men jag har kommit fram till de här stegen genom praktisk felsökning och massor av svordomar och flippande av bord, och jag fick den här galna idén att dela dem med en hälsosam dos av lättfärdighet. Ta det för vad det är!</p>