<footer>
    <small class="contact rtl">دشواری شما چیه، مرتبط با گیت؟ اونو با من به اشتراک بزار!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>