<p class="rtl"> سلب مسئولیت: این سایت به عنوان یک مرجع جامع درنظر گرفته نشده است.و بله، برای انجام کارهای مشابه این روش های تئوری دیگری با خلوص بیشتری هم هست، اما من با آزمون و خطاهای بسیاری به این روش ها رسیدم و من این ایده باحال رو داشتم که اونا رو با دوز بالایی از شوخ طبعی به اشتراک بگذارم. استفاده کنید یا بی بهره بمونید هر طور تمایل دارید!</p>