<p class="rtl">تشکر فراوان از هر کسی که داوطلبانه این سایت رو به زبان های مختلف ترجمه کرد، تو شاهکاری!
{% include "partials/collaborator-list.njk" %}. و همچنین همکاری  {% include "partials/otherhelper-list.njk" %}</p>

<p class="rtl">اگه دوس داری کمک کنی یک ترجمه به زبان تو اضافه بشه، یک PR ثبت کن در {% github_link %}</p>