<p>Git कठिन है: गलतियाँ आसानी से हो सकती हैं, और यह पता लगाना कि आपकी गलतियों को कैसे ठीक किया जाए असंभव है। Git प्रलेखन में यह मुर्गी और अंडे जैसी समस्या है जहाँ आप खुद को तब तक बाहर नहीं निकाल सकते, <em> जब तक आपको अपनी समस्या को ठीक करने के लिए पहले से ही उसका नाम पता न हो जिसके बारे में आपको पता होना चाहिए।</p>

<p>तो यहाँ कुछ बुरी स्थितियाँ हैं जहाँ मैं खुद रहा हूँ, और आखिरकार मैंने खुद को उन स्थितियों से कैसे बाहर निकाला <em> सामान्य हिंदी में </ em></p>
