<p>* अस्वीकरण: यह साइट पूर्ण संदर्भ के लिए नहीं है। और हाँ, इन तरीकों को और अधिक सैद्धांतिक शुद्धता या जो भी हो, करने के लिए अन्य तरीके हैं, लेकिन मैं इन चरणों में परीक्षण और त्रुटि और बहुत सारी कठबोली और टेबल फ़्लिपिंग के माध्यम से आया हूं, और मेरे दिमाग में यह पागल विचार आया था जिसे मैं आपके साथ साझा कर रहा हूँ। अगर लेना है तो ले लो या चले जाओ!</p>