<p>*Vrywaring: Hierdie webwerf is nie bedoel as 'n volledige verwysing nie. En ja, daar is ander maniere om dieselfde dinge met meer teoretiese suiwerheid of wat ook al, maar ek het hierdie stappe bewerkstellig deur middel van baie probeer, vloekery en tafels omgooi. Ek het hierdie mal idee gehad om dit met 'n gesonde dosis van lewendigheid en gevloekery te deel. Vat dit soos jy wil!</p>