<p>Baie dankie aan almal wat vrywillig die webwerf in nuwe tale vertaal het, julle is fantasties!
{% include "partials/collaborator-list.njk" %}. Met additionele hulp van {% include "partials/otherhelper-list.njk" %}</p>

<p>As jy wil help om 'n vertaling in jou taal by te voeg, dien 'n pull request in by {% github_link %}</p>