<p>Git zordur, herşeyi dağıtmak ise kolay, hatta bazı durumlarda iş için içinden çıkılamaz bir hale bile gelebilir. Git dökümantasyonuna girip aramaya başladığında ise, bu karmaşadan nasıl kurtulabileceğini bulmanın tek yolunun <em>karşılaştığın hatanın adının ne olduğunu bildiğin zaman mümkün olabileceğini</em> anlarsın. Sonra tavuk mu yumurtadan çıkar, yumurta mı tavuktan moduna girersin.</p>

<p>Bu yüzden, burada kendimi içine soktuğum durumlardan bazılarını, ve bunlardan zamanla nasıl kurtulduğumu <em>basit bir Türkçe ile</em> anlatmaya çalışacağım.</p>
