<p>Git je složitý: něco rozbít je jednoduché, ale přijít na to, jak z toho ven někdy téměř nemožné. Hledat něco v dokumentaci Gitu jde těžko, <em>pokud tedy už nevíš název té věci, kterou hledáš</em>. </p>

<p>Tady jsou některé situace, kdo kterých jsem se dostal a také řešení, která vedla k nápravě <em>ve srozumitelné formě.</em></p>