<footer>
    <small class="contact">Koji je vaš Bokte, git momenat? Podjeli ga sa mnom!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>