<p>*Izjava o odricanju odgovornosti: Ovaj sajt nije namjenjen da bude iscrpna referenca. I da, postoje i drugi načini da se iste ove stvari izvedu sa više teorije ili šta god, ali ja sam do ovih koraka došao kroz pokušaje i grešeći i sa puno psovki, i imao sam ovu ludu ideju da ih podjelim sa zdravom dozom nesmotrenosti i bezobzirnosti. Uzmi ili ostavi kako hoćeš!</p>