<p>Git ยาก เละเทะได้ง่าย และการจะหาวิธีแก้ไขข้อผิดพลาดที่เกิดขึ้นนั้น เป็นไปไม่ได้เลย เอกสารของ Git เป็นปัญหาไก่กับไข่ คุณไม่มีทางหาวิธีเอาตัวรอดจากความยุ่งเหยิงได้ <em>เว้นเสียแต่ว่า คุณรู้วิธีแก้ปัญหาอยู่แล้ว</em></p>

<p>นี่คือสถานการณ์แย่ ๆ ที่ฉันเคยพาตัวเองเข้าไป และวิธีการที่ฉันเอาตัวรอดออกมาได้ <em>โดยอธิบายด้วยภาษาง่าย ๆ</em></p>
