<p>ขอบคุณทุกคนที่อาสาแปลเว็บไซต์นี้เป็นภาษาต่าง ๆ พวกคุณเจ๋งมาก! 
{% include "partials/collaborator-list.njk" %} ด้วยความช่วยเหลือเพิ่มเติมจาก {% include "partials/otherhelper-list.njk" %}</p>

<p>หากคุณอยากจะช่วยแปลเป็นภาษาของคุณเพิ่มเติม ส่ง PR มาได้ที่ {% github_link %}</p>
