<footer>
    <small class="contact"> Mikä on sun 'Voi vittu, git' kokemus? Jaa se!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>