<p>Git on vaikea ohjelma: mokaaminen on helppoa, ja sen keksiminen miten virheet korjataan, on jumalauta mahdotonta. Git:in dokumentaatioon turvautuminen on varsinainen muna-kana-ongelma: et voi hakea korjausta sotkuusi <em>ellet tiedä jo tiedä sitä termiä jota olet etsimässä</em> jotta saat ongelmasi ratkaistua.</p>

<p>Tässä on jotain esimerkkejä niistä tilanteista joihin olen joutunut, ja ohjeet <em>selkellä suomella</em> siitä miten sain itseni niistä ulos.</p>
