<p>Kiitos paljon seuraaville henkilöille, jotka ovat vapaaehtoisesti kääntäneet tämän sivuston eri kielille! Olette upeita!
{% include "partials/collaborator-list.njk" %}. Mukana ovat myös olleet {% include "partials/otherhelper-list.njk" %}</p>

<p>Jos haluat auttaa tämän sivuston kääntämisessä, tee PR täällä {% github_link %}</p>