<footer>
    <small class="contact">你在使用 git 时是否也有类似抓狂的经历? 可以与我分享一下！</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>