<footer>
    <small class="contact">你也有遇過「該死，git！」的經驗嗎？ 歡迎和我分享！</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>