<footer>
    <small class="contact">你在使用 git 時是否也有類似抓狂的經歷？可以與我分享一下！</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
