<footer>
    <small class="contact">分享下你嘅「頂你個肺，git」吖！</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
