<p>Git मुश्किल है: गलतियाँ आसानी से हो सकती हैं, और यह पता लगाना कि तुम्हारी गलतियों को कैसे ठीक किया जाए काफी माथा पच्ची वाला काम है। Git के स्कोप में यह मुर्गी और अंडे जैसी समस्या है जहाँ तुम खुद को तब तक बाहर नहीं निकाल सकते, <em> जब तक तुमको अपनी समस्या को ठीक करने के लिए पहले से ही उसका नाम पता न हो जिसके बारे में तुमको पता होना चाहिए।</p>

<p>तो यहाँ कुछ बुरी स्थितियाँ हैं जहां मैं फस गया था, और कैसे आखिरकार मैंने खुद को उन स्थितियों से बाहर निकाला <em> अपनी प्यारी भाषा हिंदी में</p>
