<p>उन लोगों के लिए बहुत आभार जिन्होंने साइट को नई भाषाओं में अनुवाद करने के लिए स्वेच्छा से काम किया है, तुम अवसम हो यार!
{% include "partials/collaborator-list.njk" %}. हमने इनसे अतिरिक्त मदद ली। {% include "partials/otherhelper-list.njk" %}</p>

<p>यदि तुम भी अपनी भाषा में अनुवाद जोड़ने में मदद करना चाहते हो, तो यहाँ एक PR सबमिट करो {% github_link %}</p>