<p>*Забележка: Този сайт не е предвиден като изчерпателен ресурс. И да, има други начини да се направят същите неща с повече теория или там каквото е, но стигнах до тези стъпки чрез проба-грешка и много псувания и блъскане по маси, и ми падна тая луда идея да ги споделя с здравословна идея лекомислие. Взимай или се махай!</p>