<p>Специални благодарности на всички които доброволно преведоха сайта на нов език, върха сте!
{% include "partials/collaborator-list.njk" %}. С допълнително помощ от {% include "partials/otherhelper-list.njk" %}</p>

<p>Ако желаеш да помогнеш с превода на твоят език, пусни заявка за изтегляне на {% github_link %}</p>