<p>Gitって難しい。簡単にぐちゃぐちゃの状態になっちゃうし、失敗を直す方法を知ろうとしたところでまじくそ不可能。Gitのドキュメンテーションって卵とニワトリの問題みたいなところがあって、ハマりから抜け出すために<em>知ってないといけない事柄の名前をあらかじめ知っていないと</em>、どうやって問題を解決したらいいのか検索することすらできないんだよね。</p>

<p>だからここに、私が遭遇したことのあるよろしくない状況から、最終的にどうやって抜け出したかを<em>フツーの日本語で</em>書いていこうと思う。</p>
