<p>このサイトをボランティアで新しい言語に翻訳してくれたみんな、ありがとう！ みんな最高！
{% include "partials/collaborator-list.njk" %}, 以下の追加の支援により：{% include "partials/otherhelper-list.njk" %}</p>

<p>もし、あなたの言語への翻訳の追加を手伝ってくれるなら {% github_link %} からPRよろしく！</p>