<footer>
    <small class="contact">Vilket är ditt För sjuttsingen, git moment? Dela det med mig!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>