<p>*Varning: Denna site är inte avsedd att vara heltäckande. Och ja, det finns andra sätt att göra samma sak med mer teoretisk äkthet eller något, men jag har kommit fram till dessa steg genom praktisk felsökning och massor av svärande och vältande av bord, och jag fick den här galna idén att dela dem med en hälsosam dos av lättfärdighet. Ta det för vad det är!</p>