<footer>
    <small class="contact">Падзяліцеся са мной сваімі гісторыямі, калі хацелася крыкнуць "Чортаў Git!"</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>