<p>Git складаны: лёгка ўсё сапсаваць, і нерэальна зразумець, як гэта выпраўляць. Документацыя Git - гэта фініш: каб знайсці рашэнне, <em>тебе загадзя трэба ведаць каманду</em>, якая верне ўсё на месца.</p>

<p><em>Папулярна</em> апішу некалькі сітуацый, з якіх мне давялося выбірацца.</p>
