<p>
    *Папярэджанне: Гэты сайт не з'яўляецца канчатковай інструкцыяй. І так, ёсць іншыя спосабы зрабіць тое ж самае, але я прыйшоў да гэтага метадам спроб і памылак, і цяпер дзелюся гэтым з вялікай дозай лёгкадумства і матюкоў. Прыняйце гэта або сыходзьце!
</p>
