<p>Вялікі дзякуй гэтым людзям, якія пераклалі гэты сайт на іншыя мовы, вы крутыя!
{% include "partials/collaborator-list.njk" %}. З дадатковай дапамогай ад {% include "partials/otherhelper-list.njk" %}</p>

<p>Калі вы хочаце дапамагчы дадаць пераклад на сваю мову, адпраўце PR на {% github_link %}</p>
