<footer>
    <small class="contact">Wat is jou Dang it, git oomblik? Deel dit met my!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>