<p>Git is moeilik: om 'n gemors te maak is maklikik, maar om uit te vind hoe om dit reg te maak is onmoontlik. Git dokumentasie het 'n probleem waar jy nie kan soek hoe om jouself uit die gemors te kry nie, <em>behalwe as jy klaar die naam ken wat van die ding wat jy oor moet weet</em> om die probleem te kan oplos.</p>

<p>So hier is 'n paar slegte situasies waarin ek myself bevind het en hoe ek op die ou ent van die dag myself daaruit gekry het <em>in eenvoudige afrikaans</em>.</p>