<footer>
    <small class="contact">Cuál es tu momento Oh shit, Git? Compártelo conmigo!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
