<p>Git es dificil: cagarla es facil y darse cuenta de como corregir tus errores es imposible. La documentaion de Git sufre del problema del huevo y la gallina, no podes buscar cómo corregir tu cagada, <em>a menos de que sepas el nombre de lo que tenes que saber</em> para poder arreglarla.</p>

<p>Aca hay algunas horribles situaciones con las que me encontre y como, eventualmente, pude resolverlas <em>en español simple</em>.</p>
