<p>*Descargo: Este sitio no está pensado para ser una referencia exhaustiva. Y sí, hay otras maneras de hacer las mismas cosas de una forma teóricamente más puras, pero yo llegué a estos pasos por prueba y error y muchas puteadas, y tuve esta loca idea de compartirlas con una sana dosis de insultos. Tómalo o déjalo, como quieras!</p>
