<footer>
    <small class="contact">Cual es tu Oh maldición, momento con git? Conpartelo conmigo!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
