<p>Git es difícil: estropearlo es fácil y darse cuenta de cómo corregir tus errores es jodidamente imposible. La documentación de Git sufre del problema del huevo y la gallina, donde no puedes buscar cómo salir del lio, <em>a menos de que ya sepas el nombre de lo que tienes que saber</em> para poder arreglarlo.</p>

<p>Acá hay algunas horribles situaciones con las que me encontré y cómo, eventualmente, pude resolverlas <em>en español simple</em>.</p>
