<p>*Descargo: Este sitio no está pensado para ser una referencia exhaustiva. Y si, hay otras manera de hacer las mismas cosas de una forma teoricamente más puras, pero yo llegue a estos pasos por prueba y error y muchos insultos, y tuve esta loca idea de compartirlas con una sana dosis de ligereza. Tómalo o déjalo como quieras!</p>
