<p>Muchas gracias a todos los que voluntarios que tradujeron este sitio a otros idiomas, la rompen!
{% include "partials/collaborator-list.njk" %}. Con la ayuda adicional de {% include "partials/otherhelper-list.njk" %}</p>

<p>Si quieres ayudar a traducir a otros idiomas, envia tu PR a {% github_link %}</p>
