<footer>
    <small class="contact">Zdarzają Ci się momenty, kiedy wykrzykujesz "O kurwa, git"? Podziel się nimi ze mną!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>