<p>Git jest trudny: łatwo coś zjebać, a rozgryzienie tego, jak rozwiązać Twój problem jest kurwa niemożliwe. Dokumentacja Gita to taki paradoks kury i jajka: nie wygrzebiesz się z bałaganu <em>jeżeli nie wiesz, jak nazywa się to coś, o czym powinieneś wiedzieć</em>, żeby rozwiązać Twój problem.</p>

<p>Oto niektóre złe sytuacje, w które zdarzyło mi się wpakować wraz z receptami na wyjście z nich wyłożonymi <i>prostym językiem</i>.</p>
