<p>
    *Disclaimer: Niniejsza strona nie ma na celu bycia wyczerpującym poradnikiem. Owszem, da się zrobić te same rzeczy z większą dozą teoretycznej czystości czy czegoś tam, ale wypracowałam te kroki metodą prób i błędów, licznych przekleństw i przewracania stolików. A potem wpadłam na szalony pomysł, żeby udostępnić je światu opakowane w zdrową dozę beztroski i wulgaryzmów. Bierzesz albo nie, Twój wybór!
</p>