<p>Git é difícil: é muito fácil cagar tudo e impossível descobrir como arrumar. A documentação do Git é como o problema do ovo e da galinha, onde você não consegue pesquisar como resolver a sua cagada <em>a não ser que você já saiba o nome do que você precisa </em> para resolver o seu problema.</p>

<p>Então aqui estão algumas situações complicadas em que me meti e como me safei delas, <em>em português claro</em>.</p>