<p>*Aviso legal: Este site não pretende ser uma referência completa. Sim, existem outras maneiras de se fazer as mesmas coisas com uma maior pureza teórica ou sei la o quê, mas eu aprendi esses passos através de tentativa e erro, muitos palavrões e socos na mesa, então tive essa ideia maluca de compartilha-los com uma dose saudável de xingamentos. É pegar ou largar!</p>