<p>Muito obrigado a todos os voluntários que traduziram o site para novos idiomas. Vocês são fodas!
{% include "partials/collaborator-list.njk" %}. Com a ajuda adicional de {% include "partials/otherhelper-list.njk" %}</p>

<p>Se você gostaria de ajudar e traduzi-lo para o seu idioma, envie uma PR em {% github_link %}</p>