<p>*Попередження: Цей сайт - не вичерпний ресурс. І так, є інші способи зробити ці самі речі ще "чистіше" але я дійшов до цих способів через багато помилок, матів і перевернутих столів, так що я вирішив поділитися ними в людському форматі, самі вирішуйте, чи варто ними користуватися!</p>