<p>Дякую всім тим, хто допоміг перекласти цей сайт на багато різних мов, ви красавчики!
{% include "partials/collaborator-list.njk" %}. З додатковою допомогою від {% include "partials/otherhelper-list.njk" %}</p>

<p>Якщо ви б хотіли допомогти додати переклад на вашу мову, зробіть PR тут {% github_link %}</p>