<footer>
    <small class="contact">Care este momentul tau de pisici cu gitul? Zi si mie!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
