<p>*Ca să știi: Siteul acesta nu e menit să fie o referință exhaustivă. Și da, există alte moduri de a face aceleași lucruri, mai corect din punct de vedere teoretic sau în fine, dar eu am ajuns la acești pași dupa numeroase erori si reîncercări și multe înjurături și răsturnări de mese și am avut ideea aceasta nebunească să ți le împărtășesc cu o doză sănătoasă de simplicitate. Ia-o sau las-o, cum vrei!</p>
