<p>Multe multumiri tuturor celor care au contribuit voluntar la traducerea acestui site in alte limbi. Sunteti cei mai tari!
{% include "partials/collaborator-list.njk" %}. Cu ceva ajutor de la {% include "partials/otherhelper-list.njk" %}</p>

<p>Daca ai vrea sa ajuti cu adaugarea unei traduceri in limba ta, baga un PR aici {% github_link %}</p>
