<footer>
    <small class="contact">Koji su tvoji O jebote, git momenti? Podjeli ih sa mnom!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>