<p>Git je težak: lako je zajebati stvari, a skontati kako da popraviš greške je jebeno nemoguće. Git dokumentacija ima problem šta je starije koka ili jaje gdje ne možeš da nađeš kako da se izvučeš iz problema, <em>osim ako već znaš za stvar koja ti treba</em> kako bi rešio svoj problem.</p>

<p>Dakle evo nekih loših situacija u koje sam zapao i kako sam se na kraju izvukao iz njih <em>u običnom srpskom jeziku</em>.</p>
