<p>Mnogo hvala svima koji su volontirali da pevedu ovaj sajt na nove jezike, mudonje ste pravi!
{% include "partials/collaborator-list.njk" %}. Sa dodatnom podrškom od {% include "partials/otherhelper-list.njk" %}</p>

<p>Ako želiš da pomognes i dodaš prevod za svoj jezik, kreiraj PR na {% github_link %}</p>