<p>Git сложен: легко всё проебать, и нереально понять как исправить. Документация Git - это финиш: чтобы найти решение, <em>тебе заранее надо знать название фишки</em>, которая вернет всё на место.</p>

<p><em>Популярно</em> опишу несколько ситуаций, из которых мне пришлось выбираться.</p>
