<p>Git қиын: жобаны бір пәсте жоғалтуға мүмкін, және кері қайтаруы түсініксіз. Git документациясы - бұл қапқан: дұрыс шешімді табу үшін саған <em>алдын ала фичаның атын білу керек</em>.</p>

<p>Осы сайтта пиздец жағдайдан шығу жолдарын <em>көпшілікке</em> жазып берейін.</p>
