<p>Git қиын: жобаны бір пәсте жоғалтуға мүмкін, және кері қайтаруы нихуя түсініксіз. Git документациясы - бұл қапқан: дұрыс шешімді табу үшін <em>ол фичаның атын алдын ала білу керек</em>.</p>

<p>Осы сайтта пиздец жағдайдан шығу жолдарын <em>көпшілікке</em> жазып берейін.</p>
