<p>
    *Ескерту: Бұл сайт түпкілікті нұсқаулық ретінде саналмайды.
    Йә мәселерді басқа оңай жолдармен шешуге болады, бірақ осы шешімдерге мен қиналып өз миімен жеттім. Енді сізбен бөлісіп тұрмын. Қабылдаңыз немесе кетіңіз!
</p>