<footer>
    <small class="contact">ช่วงเวลา "เวรแล้ว git" ของคุณคืออะไร? เล่าให้เราฟังสิ!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
