<p>*คำปฏิเสธความรับผิดชอบ: เว็บไซต์นี้ไม่ได้ตั้งใจสร้างมาเพื่อใช้เป็นแหล่งอ้างอิง และใช่ ยังมีวิธีอื่นที่สามารถทำสิ่งเดียวกันนี้ได้ด้วยวิธีที่สละสลวยกว่า หรืออะไรก็ตาม แต่ฉันได้วิธีการเหล่านี้จากการลองผิดลองถูก สบถด่าและคว่ำโต๊ะหลายต่อหลายครั้ง ฉันเลยได้ไอเดียที่จะแบ่งปันสิ่งเหล่านี้  จะเอาหรือไม่เอาก็แล้วแต่คุณ!</p>
