<footer>
    <small class="contact">оделитесь со мной своими моментами, когда хотелось крикнуть "Ёбаный Git!"</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>