<footer class="spaced centered">
    <p class="top-lined bottom-lined">
        *Предупреждение: Этот сайт не является исчерпывающим руководством. И да, есть другие способы сделать тоже самое, но я пришел к этому методом проб и ошибок, и теперь делюсь этим с большой дозой легкомыслия и ругани. Примите это или уйдите!
    </p>
    <p class="bottom-lined">Большое спасибо этим людям, который перевели этот сайт на другие языки: <a href="https://github.com/pReya">Moritz Stückler</a> - <a href="/de">немецкий</a>, ты крут!</p>
    <small>
        <p>Поделитесь со мной своими моментами, когда хотелось крикнуть "Ёбаный Git!": {{site.twitter_ksylor | safe}}</p>
        <p>{{site.copyright | safe}}</p>
    </small>
</footer>