<p>Git сложен: легко все проебать, и нереально сложно понять, как все исправить. Документация Git это такая вещь, в которой сложно найти решение, <em>если только ты точно не знаешь название фишки</em>, которая вернет все на место.</p>

<p>Так, здесь собраны несколько ситуаций, из которых я в конце концов выбрался <em>на понятном русском</em>.</p>
