<p>
    *Предупреждение: Этот сайт не является исчерпывающим руководством. Да, есть другие способы сделать тоже самое, но я пришёл к этому методом проб и ошибок, и теперь делюсь этим с большой дозой легкомыслия и ругани. Примите это или уйдите!
</p>