<p>Большое спасибо людям, которые перевели этот сайт на другие языки:
{% include "partials/collaborator-list.njk" %}. С дополнительной помощью от {% include "partials/otherhelper-list.njk" %}</p>

<p>Чтобы добавить перевод на свой язык, отправьте PR на {% github_link %}</p>
